.subtitle {
  font-size: 18px;
  font-weight: bold;
}

.commentForm {
  padding-top: 20px;
}

.commentInput {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 150px;
  resize: none;
}

.commentInput:focus {
  outline: none;
}

.commentButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.commentButton {
  padding: 10px 15px;
  background: var(--mainColor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.commentsList {
  list-style: none;
  padding-top: 20px;
}

.commentItem {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userIcon {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--gray);
  object-fit: cover;
}

.userName {
  font-weight: bold;
  margin-right: 12px;
}

.userName:hover {
  text-decoration: underline;
}

.commentDate {
  font-size: 12px;
  color: #666;
}

.commentText {
  font-size: 14px;
  margin-bottom: 10px;
}

.commentActions {
  display: flex;
  align-items: center;
}

.likeButton {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.loginCommentContainer {
  border-top: 1px solid var(--gray);
  padding-top: 40px;
  padding-bottom: 30px;
}

.loginComment {
  font-size: 16px;
  text-align: center;
}

.loginButtonContainer {
  display: flex;
  justify-content: center;
}

/* コメント削除 */
.headerRight {
  display: flex;
  align-items: center;
  position: relative;
}

.dots {
  margin-right: 20px;
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 30px;
  right: 0;
  width: 100px;
  background: white;
  border: 1px solid var(--gray);
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  z-index: 10;
}

.dropdownMenu li {
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  font-size: 13px;
  color: red;
}

.dropdownMenu li:hover {
  background-color: #f5f5f5;
}

/* ポップアップ */
/* ポップアップの背景 */
.deletePopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100; /* 高いz-indexで他の要素の上に表示 */
}

/* ポップアップのコンテンツエリア */
.popupContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px; /* 幅を設定 */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* ボックスシャドウ追加 */
}

/* ポップアップのヘッダー部分 */
.popupContent h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

/* ポップアップの本文部分 */
.popupContent p {
  margin: 10px 0;
  font-size: 14px;
  color: #666;
}

/* ボタンエリア */
.popupButtons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* キャンセルボタンと削除ボタンの共通スタイル */
.popupButtons button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 48%;
}

/* キャンセルボタンのスタイル */
.cancelButton {
  background-color: #ccc; /* グレー */
}

/* 削除ボタンのスタイル */
.confirmButton {
  background-color: #e74c3c; /* 赤色 */
  color: white;
}
